 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Mercado Liebre</title>
 </head>
 <body>
         <img src = "/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre"  >
         <p align= "center">Buscar productos, marcas y mas</p>
         <p align= "right">Comprá en cuotas y sin tarjeta de crédito</p>
         <ul>
             <li>Ofertas</li>
             <li>Tiendas Oficiales</li>
             <li>Vender</li>
             <li>Ayuda</li>
         </ul>
         <ul>
             <li>Creá tu cuenta</li>
             <li>Ingresá</li>
             <li>Mis compras</li>
        <img src="\images\img-home-banner.jpg" alt="">
         </ul>
         <ul>
             <li>Basado en tu ultima visita</li>
            </ul>
             <ol>
                <img src="\images\img-cafetera-moulinex.jpg" alt="Cafetera">
                 <li>$6.770</li>
                 <li>40% OFF</li>
                <li>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.
                </li>
             </ol>
             <ol>
                <img src="\images\img-macbook-pro-2019.jpg" alt="Macbook">
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</li>
             </ol>
             <ol>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="Galaxy-s10">
                <li>$70.500</li>
                <li>15% OFF</li>
                <li>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li>
             </ol>
             <ol>
                <img src="\images\img-tv-samsung-smart.jpg" alt="SmartTv">
                <li>$34.000</li>
                <li>5% OFF</li>
                <li> SmartTv Samsung 43" Lorem ipsum, dolor sit amet</li>
             </ol>
          <ul>
             <li>Ofertas</li>
            </ul>
            <ol>
                <img src="\images\img-cafetera-moulinex.jpg" alt="Cafetera">
                 <li>$6.770</li>
                 <li>40% OFF</li>
                <li>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.
                </li>
             </ol>
             <ol>
                <img src="\images\img-macbook-pro-2019.jpg" alt="Macbook">
                <li>$230.000</li>
                <li>20% OFF</li>
                <li>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</li>
             </ol>
             <ol>
                <img src="\images\img-samsung-galaxy-s10.jpg" alt="Galaxy-s10">
                <li>$70.500</li>
                <li>15% OFF</li>
                <li>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</li>
             </ol>
             <ol>
                <img src="\images\img-tv-samsung-smart.jpg" alt="SmartTv">
                <li>$34.000</li>
                <li>5% OFF</li>
                <li> SmartTv Samsung 43" Lorem ipsum, dolor sit amet</li>
             </ol>

            <h1>Pagá con tarjeta o en efectivo</h1>
            <h2>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</h2>
            <h1>Envío gratis desde los $ 2.500</h1>
            <h2>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.
                </h2>
            <h1>Seguridad, de principio a fin</h1>
            <h2>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.
                </h2>
            <h3>Copyright © 1999-2019 MercadoLiebre S.R.L.
            </h3>

         
 </body>
 </html>